body {
  background: linear-gradient(174.61deg, #041833 4.16%, #04244F 48%, #154580 96.76%);
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.Content {
  padding: 60px 24px;
}